In [5]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

original_crime_df = pd.read_csv("/Users/mayur/Desktop/ALDA Project/Crime_Data_from_2020_to_Present 2.csv")
print(original_crime_df.head())
print(original_crime_df['Crm Cd'].value_counts()[:10])
new_dataset = original_crime_df[original_crime_df["Crm Cd"].isin([510,624,740,330,310,230,626,440,420,354]) ]
new_dataset

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0   10304468  01/08/2020 12:00:00 AM  01/08/2020 12:00:00 AM      2230     3
1  190101086  01/02/2020 12:00:00 AM  01/01/2020 12:00:00 AM       330     1
2  201220752  09/16/2020 12:00:00 AM  09/16/2020 12:00:00 AM      1230    12
3  191501505  01/01/2020 12:00:00 AM  01/01/2020 12:00:00 AM      1730    15
4  191921269  01/01/2020 12:00:00 AM  01/01/2020 12:00:00 AM       415    19

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0    Southwest          377         2     624
1      Central          163         2     624
2  77th Street         1259         2     745
3  N Hollywood         1543         2     745
4      Mission         1998         2     740

                                         Crm Cd Desc  ... Status  Status Desc  \
0                           BATTERY - SIMPLE ASSAULT  ...     AO  Adult Other
1                           BATTERY - SIMPLE ASSAULT  ...     IC  Invest Cont
2           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...     IC  Invest Cont
3           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...     IC  Invest Cont
4  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...     IC  Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    624.0      NaN       NaN      NaN
1    624.0      NaN       NaN      NaN
2    745.0      NaN       NaN      NaN
3    745.0    998.0       NaN      NaN
4    740.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1100 W  39TH                         PL          NaN  34.0141 -118.2978
1    700 S  HILL                         ST          NaN  34.0459 -118.2545
2    700 E  73RD                         ST          NaN  33.9739 -118.2630
3   5400    CORTEEN                      PL          NaN  34.1685 -118.4019
4  14400    TITUS                        ST          NaN  34.2198 -118.4468

[5 rows x 28 columns]
Crm Cd
510    34216
624    25965
740    21179
330    20378
310    19954
230    19341
626    17368
440    17289
420    14525
354    12615
Name: count, dtype: int64

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
10,200100509,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,2200,1,Central,192,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,NaN,NaN,NaN,15TH,OLIVE,34.0359,-118.2648
15,201811813,05/28/2020 12:00:00 AM,05/25/2020 12:00:00 AM,200,18,Southeast,1851,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,MENLO AV,130TH ST,33.9144,-118.2894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317846,210404776,01/21/2021 12:00:00 AM,01/19/2021 12:00:00 AM,1600,4,Hollenbeck,497,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,1400 S DE LA TORRE WY,NaN,34.0166,-118.2058
317848,212110947,07/04/2021 12:00:00 AM,07/04/2021 12:00:00 AM,2135,21,Topanga,2143,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,23100 FRIAR ST,NaN,34.1855,-118.6296
317849,211208872,03/19/2021 12:00:00 AM,03/19/2021 12:00:00 AM,1105,12,77th Street,1218,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,58TH ST,FIGUEROA ST,33.9897,-118.2827
317851,211710505,07/09/2021 12:00:00 AM,07/09/2021 12:00:00 AM,1050,17,Devonshire,1798,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,8800 DEMPSEY AV,NaN,34.2302,-118.4775
317853,212005847,02/22/2021 12:00:00 AM,02/22/2021 12:00:00 AM,1200,20,Olympic,2034,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,3300 W 8TH ST,NaN,34.0596,-118.3022

In [4]:
new_dataset['Date Rptd'] = pd.to_datetime(original_crime_df['Date Rptd'])
new_dataset['DATE OCC'] = pd.to_datetime(original_crime_df['DATE OCC'])


new_dataset=new_dataset.groupby('Crm Cd')['Crm Cd'].nunique()
new_dataset['DATE OCC'].unique()

/var/folders/8t/cg46ygc52xq8ts0rysyjhfn40000gn/T/ipykernel_2094/1813428587.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  new_dataset['Date Rptd'] = pd.to_datetime(original_crime_df['Date Rptd'])
/var/folders/8t/cg46ygc52xq8ts0rysyjhfn40000gn/T/ipykernel_2094/1813428587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['Date Rptd'] = pd.to_datetime(original_crime_df['Date Rptd'])
/var/folders/8t/cg46ygc52xq8ts0rysyjhfn40000gn/T/ipykernel_2094/1813428587.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  new_dataset['DATE OCC'] = pd.to_datetime(original_crime_df['DATE OCC'])
/var/folders/8t/cg46ygc52xq8ts0rysyjhfn40000gn/T/ipykernel_2094/1813428587.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['DATE OCC'] = pd.to_datetime(original_crime_df['DATE OCC'])

KeyError: 'DATE OCC'

In [2]:
new_dataset['DATE OCC'] = pd.to_datetime(new_dataset['DATE OCC']) - pd.to_timedelta(7, unit='d')

#calculate sum of values, grouped by week
latest = new_dataset.groupby([pd.Grouper(key='DATE OCC', freq='W')])['Crm Cd'].value_counts()

/var/folders/8t/cg46ygc52xq8ts0rysyjhfn40000gn/T/ipykernel_2094/559986222.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  new_dataset['DATE OCC'] = pd.to_datetime(new_dataset['DATE OCC']) - pd.to_timedelta(7, unit='d')
/var/folders/8t/cg46ygc52xq8ts0rysyjhfn40000gn/T/ipykernel_2094/559986222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['DATE OCC'] = pd.to_datetime(new_dataset['DATE OCC']) - pd.to_timedelta(7, unit='d')